html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --color-secundario: #2B2B2A;
  --color-primario: #F5BA47;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img, video {
	max-width: 100%;
	height: auto;
}

h1 {
	background: linear-gradient(to right, white, var(--color-primario), white);
	color: var(--color-secundario);
}

.card-title{
	background: linear-gradient(to right, white, var(--color-secundario), white);
	color: var(--color-primario);
}

.carousel{
	max-height: 90vh;
	overflow: hidden;
}

.carousel-caption {
	bottom: 32%;
}

.carousel-caption img {
	max-height: 380px;
}

.carousel-caption h5{
	font-size: 30px;
}


.col {
	align-self: center;
}

.col img {
	max-height: 90%;
	max-width: 90%;
}

.nosotros {
	margin-top: 40px;
}

h1.text-center {
	margin-top: 30px;
}

.card-group{
	width: 90%;
	margin: 0 auto;
}

.card {
	align-items: center;
	border: none;
}

.card img {
	max-height: 60%;
	max-width: 60%;
	border-radius: 30%;
	border: solid 10px;
	border-color: var(--color-primario);
}

.container-fluid{
	background: linear-gradient(to left, var(--color-secundario) 85%, transparent 0%);
}

.nav-item a:hover{
	color: var(--color-primario);
}

.triangulo{
	width: 10%;
	background: linear-gradient(to bottom right, #f8f9fa 50%, var(--color-secundario) 50%);
}

.triangulo img {
	opacity: 0;
}

.navbar-collapse{
	justify-content: flex-end;
}

.nav-link{
	color: white;
}

.d-block {
	animation: scaleUp 35s;
	-webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.carousel-item {
	background-color: black;
}

  @keyframes scaleUp {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2);
    }
  }

.map{
	display: block; 
	margin: 30px auto;
	max-width: 70%;
}

.container {
	margin-bottom: 30px;
}

.carousel-caption h2{
	font-size: 10rem;
	font-weight: 800;
}

#sli-img-2  {
  border-radius: 50%;     /* Hace que sea circular */
  border: 5px solid yellow;  /* Borde amarillo */
  object-fit: cover;  
}

.footer img {
	width: 70%;
}

/** Footer **/

.footer{
	background-color: var(--color-secundario) ;
 }

 .footer_content {
 	color: white;
 	padding: 80px 0;
 	width: min(90%, 1200px);
 	overflow: hidden;
 	margin: 0 auto;
 }

 .footer_main {
 	display: grid;
 	gap: 1.5rem;
 	justify-items: center;
 }

 .footer_logo-link img {
 	width: 130px;
 	background-color: white;
 	border-radius: 30%;
 	padding: 0 20px;
 }

 .footer_links {
 	display: flex;
 	flex-direction: column;
 	gap: 1rem;
 	text-align: center;
 }

 .footer_link {
 	color: white;
 	text-decoration: none;
 }

 .footer_link:hover {
 	text-decoration: underline;
 }

 .footer_contact {
 	max-width: 250px;
 	display: grid;
 	gap: 1.3rem;
 	text-align: center;
 }

 .footer_copy{
 	margin-top: 1rem;
 	justify-self: center;
 	background-color: var(--color-primario);
 	color: var(--color-secundario);
 	font-weight: 500;
 	padding: 4px;
 	border-radius:6px;
 }

 .footer_newsletter{
 	width: min(100%, 400px);
 	padding: 2rem 1.5rem;
 	background-color: #292a32;
 	border-radius: 10px;
 	display: grid;
 	gap: 1rem;
 	grid-template-rows: 48px 48px;
 }

 .footer_email{
 	border: 1px solid white;
 	border-radius: 6px;
 	padding: 0 1.5rem;
 	background-color: transparent;
 	color: white;
 }

 .footer_email::placeholder{
 	color: white;
 }

 .footer_submit{
 	background-color: var(--color-primario);
 	color: var(--color-secundario);
 	border: none;
 	border-radius: 6px;
 	font-weight: 500;
 }

 .footer_social{
 	display: grid;
 	grid-auto-flow: column;
 	gap: 1rem;
 }

 .footer_social-links{
 	width: 36px;
 	height: 36px;
 	background-color: white;
 	border-radius: 50%;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }

.footer_copyright{
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 2px solid #fff;
}

.footer_copyright-text{
	text-align: center;
}

@media (width <= 1100px){

	.carousel-caption {
	bottom: 32%;
}

.carousel-caption img {
	max-height: 280px;
}

}

 @media (width >= 992px){

	.footer{
		background-color: #fff;
	}

	.footer_content{
		background-color: var(--color-secundario);
		border-radius: 30px 30px 0 0;
	}

	.footer_main{
		width: 90%;
		margin: 0 auto;
		grid-template-columns: 1fr 55% 1fr;
		grid-template-areas: 
		"logo links media"
		"contact news news";
		justify-items: start;
	}

	.footer_links{
		grid-area: links;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer_contact{
		grid-area: contact;
		text-align: left;
		max-width: 300px;
	}

	.footer_newsletter{
		grid-area: news;
		justify-self: end;
		align-self: center;
	}

	.footer_social{
		grid-area:media;
		justify-self: end;
	}

	.footer_logo-link{
		grid-area: logo;
	}

	.footer_copy{
	 	justify-self: start;
	 	margin-top: 0;
	}

	.footer_copyright{
		width: 90%;
		margin: 0 auto;
	}

}


@media (width <= 991px){

	.col h1 {
		margin: 10px 0;
	}

	.col p {
		max-width: 95%;
	}

	.col h1 {
		margin: 0 10px;
	}

	.lh-base {
		text-align: justify!important;
		margin: 10px 10px;
	}

	.row{
		flex-direction: column-reverse;
	}

	#reverse{
		flex-direction: column;
	}

	.text-start{
		text-align: justify!important;
	}

	.text-end{
	text-align: justify!important;
	}

	.carousel-caption img {
	max-height: 200px;
}

.carousel-caption h5{
	font-size: 1rem;
}

	.triangulo{
		display: none;
	}

	.container-fluid{
	background: #fff;
	}

	.nav-item a:hover{
	color: var(--color-primario);
	}

	.nav-item a{
	color: var(--color-secundario);
	}

	.carousel-caption {
	bottom: 32%;
}

	.d-md-block{
		display:block!important;
	}
}

@media (width <= 640px){
	.carousel-caption img {
	max-height: 120px;
}

.carousel-caption h5{
	font-size: 1rem;
}

	.carousel-caption {
	bottom: 21%;
}

}

@media (width <= 410px){
	.carousel-caption img {
	max-height: 73px;
}

.carousel-caption h5{
	font-size: .7rem;
}

	.carousel-caption {
	bottom: 11%;
}

}
